body {
    background-color: #ffc0cb; /* 페이지 배경을 핑크색으로 변경 */
}

header, footer {
    background-color: #ff69b4; /* 헤더와 푸터를 진한 핑크로 설정 */
}

button {
    background-color: #ff1493; /* 버튼을 핫핑크로 설정 */
    color: #ffffff; /* 버튼 텍스트 색상 */
}
